:root {
  --white: #ffffff;
  --black: #000000;
  --very-light-pink: #c7c7c7;
  --text-input-field: #f7f7f7;
  --hospital-green: #acd9b2;
  --sm: 14px;
  --md: 16px;
  --lg: 18px;
}

body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
}

.product-detail-shop {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 360px;
  padding: 24px;
  position: absolute;
  inset-inline-end: 0;
}

.shopping-cart {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 16px 1fr 16px auto 16px auto;
  grid-template-columns: auto 1fr auto auto;
  gap: 16px;
  -webkit-margin-after: 24px;
          margin-block-end: 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.shopping-cart figure {
  margin: 0;
}
.shopping-cart figure img {
  width: 70px;
  height: 70px;
  border-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}
.shopping-cart > img:hover {
  cursor: pointer;
}
.shopping-cart p:nth-child(2) {
  color: var(--very-light-pink);
}
.shopping-cart p:nth-child(3) {
  font-size: var(--md);
  font-weight: bold;
}

.title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.title-container img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-margin-end: 14px;
          margin-inline-end: 14px;
}

.title {
  font-size: var(--lg);
  font-weight: bold;
}

.order {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 16px 1fr;
  grid-template-columns: auto 1fr;
  gap: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--text-input-field);
  -webkit-margin-after: 24px;
          margin-block-end: 24px;
  border-radius: 8px;
  padding: 0 24px;
}
.order p:nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.order p:nth-child(2) {
  text-align: end;
  font-weight: bold;
}
.order p span:nth-child(1) {
  font-size: var(--md);
  font-weight: bold;
}

.primary-button {
  background-color: var(--hospital-green);
  border-radius: 8px;
  border: none;
  color: var(--white);
  width: 100%;
  cursor: pointer;
  font-size: var(--md);
  font-weight: bold;
  height: 50px;
}

@media (max-width: 640px) {
  .product-detail {
    width: 100%;
  }
}