:root{
    --white: #ffffff;
    --black: #000000;
    --very-light-pink: #c7c7c7;
    --text-input-field: #f7f7f7;
    --hospital-green: #acd9b2;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}
body{
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}
.inactive, 
div.mobile-menu.inactive.x2,
aside.product-detail-shop.inactive.x2{
    display: none;
}
nav {
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
    border-block-end: 1px solid var(--very-light-pink);
}
.menu {
    display: none;
    cursor: pointer;
}
.logo {
    width: 100px;
}
.navbar-left ul,
.navbar-right ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    height: 60px;
    li{
        a {
            text-decoration: none;
            color: var(--very-light-pink);
            border: 1px solid var(--white);
            padding:8px;
            &:hover{
                border: 1px solid var(--hospital-green);
                border-radius: 10px;
                color: var(--hospital-green);
            }
        }
    }
}
.navbar-left {
    display: flex;
    margin-left: 12px;
    ul {
        display: flex;
    margin-left: 12px;
    }
}
.navbar-email {
    color: var(--very-light-pink);
    margin-inline-end: 12px ;
    cursor: pointer;
}
.navbar-shopping-cart {
    cursor: pointer;
    position: relative;
    div {
        width: 15px;
        height: 15px;
        background-color: var(--hospital-green);
        border-radius: 50%;
        font-size: var(--sm);
        font-weight: bold;
        position: absolute;
        top: -6px;
        right:-3px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
//menu email
.desktop-menu {
    position: absolute;
    background-color: var(--white);
    top: 60px;
    right: 60px;
    width: 100px;
    height:auto;
    border: 1px solid var(--black);
    border-radius: 6px;
    padding: 20px 20px 0 20px;
    
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        li{
            a{
                color: var(--black);
                text-decoration: none;
                display: inline-block;
                margin-block-end: 20px;

            }
            text-align: end;
            &:nth-child(1) , &:nth-child(2){
                font-weight: bold;
            }
            &:last-child{
                padding-block-start: 20px;
                border-block-start: 1px solid var(--very-light-pink);
                a{
                    color: var(--hospital-green);
                    font-size: var(--sm);
                }
            }
        }
    }
}
// menu hamburgesa
.mobile-menu {
    background-color: var(--white);
    position: absolute;
    inset-block-start: 60px;
    padding: 24px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    left: 0;
    width: 100%;
    border: 1px solid var(--very-light-pink);
    a{
        text-decoration: none;
        color: var(--black);
        font-weight: bold;
        // margin-bottom: 24px;
    }
    .first{
        border-block-end: 1px solid var(--very-light-pink);
    }
    ul {
        padding: 0;
        margin: 24px 0 0;
        list-style: none;
        
        li {
            margin-block-end: 24px;
            
        }
    }
    .email {
    font-size: var(--sm);
    font-weight: 300;
    }
    .sign-out {
        color: var(--hospital-green);
        font-size: var(--sm);
    }
}

// Carrito de compras
.product-detail-shop {
    box-sizing: border-box;
    width: 360px;
    padding: 24px;
    position: absolute;
    inset-inline-end: 0;
    background-color: var(--white);
    border: 1px solid var(--very-light-pink);
    border-radius: 0 0 0 20px
    
}
.shopping-cart {
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    gap: 16px;
    margin-block-end: 24px;
    align-items: center;
    figure{
        margin: 0;
        img{
            width:70px;
            height:70px;
            border-radius: 20px;
            object-fit: cover;
        }
    }
    > img:hover{
        cursor: pointer;
    }
    p:nth-child(2) {
        color: var(--very-light-pink);
    }
    p:nth-child(3) {
        font-size: var(--md);
        font-weight:bold;
    }
}
.title-container {
    display: flex;
    img {
        transform: rotate(180deg);
        margin-inline-end: 14px;
    }

}
.title {
    font-size: var(--lg);
    font-weight: bold;
}
.order {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 16px;
    align-items: center;
    background-color: var(--text-input-field);
    margin-block-end: 24px;
    border-radius: 8px;
    padding: 0 24px;
    p{
        &:nth-child(1){
            display: flex;
            flex-direction: column;
        }
        &:nth-child(2){
            text-align: end;
            font-weight: bold;
        }
        span {
            &:nth-child(1){
                font-size: var(--md);
                font-weight: bold;
            }
        }
    }

}

.primary-button{
    background-color: var(--hospital-green);
    border-radius: 8px;
    border: none;
    color: var(--white);
    width:100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 50px;
}
@media(max-width: 640px){
    .product-detail{
        width: 100%;
    }
}
@media(max-width: 640px){
    .menu{
        display: block;
        &:hover{
            width: 27px;
        }
    }
    .navbar-left ul,
    .navbar-email {
        display: none;
    }
    
}
// inicio grid de imagenes

.cards-container {
    padding-block-start: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 240px);
    gap: 26px;
    place-content: center;
    cursor: pointer;
}
.product-card {
    width:240px;
    img {
        width: 240px;
        height: 240px;
        border-radius: 20px;
        object-fit: cover;
    }
    .product-info{
        display: flex;
        justify-content:space-between;
        align-items:center;
        margin-block-start: 12px;
        div p:nth-child(1){
            font-weight: bold;
            font-size: var(--md);
            margin-block-start: 0;
            margin-block-end: 4px;
        }
        div p:nth-child(2){
            font-size: var(--sm);
            margin-block-start: 0;
            margin-block-end: 0;
            color: var(--very-light-pink)
        }
        figure {
            margin: 0;
            img {
                width:35px;
                height: 35px;
            }

        }
    }
}
// detalle de producto de
.product-detail {
    width: 360px;
    padding:0  0 24px 3px ;
    border-radius: 0 0 0 20px;
    position: absolute;
    inset-inline-end: 0;
    background-color: var(--white);
    border: 1px solid var(--very-light-pink);
    
    &-close {
        background-color: var(--white);
        width: 14px;
        height: 14px;
        position: absolute;
        inset-block-start: 24px;
        inset-inline-start: 24px;
        z-index: 2;
        padding: 12px;
        border-radius: 50px;
        img {
            position: absolute;
            inset-block-start: 12px;
            inset-inline-start: 12px;
        }
        &:hover {
            cursor: pointer;
        }
    }
    & > img:nth-child(2){
        width: 100%;
        height: 300px;
        object-fit: cover;
        border-radius: 0 0 20px 20px;
    }
}
.product-info {
    margin: 24px 24px 0 24px;
    p:nth-child(1) {
        font-weight: bold;
        font-size: var(--md);
        margin-block-start: 0;
        margin-block-end: 4px;
    }
    p:nth-child(2) {
        color: var(--very-light-pink);
        font-size: var(--md);
        margin-block-start: 0;
        margin-block-end: 36px;
    }
    p:nth-child(3) {
        color: var(--very-light-pink);
        font-size: var(--md);
        margin-block-start: 0;
        margin-block-end: 36px;
    }
}
.primary-button{
    background-color: var(--hospital-green);
    border-radius: 8px;
    border: none;
    color: var(--white);
    width:100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 50px;
}
.add-to-cart-button {
    display: flex;
    align-items: center;
    justify-content: center;
}
@media(max-width: 640px){
    .product-detail{
        width: 100%;
    }
}

@media (max-width:640px){
    .cards-container {
        grid-template-columns: repeat(auto-fill, 140px);
        
    }
    .product-card {
        width:140px;
        img {
            width: 140px;
            height: 140px;
        }
    }

}