doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Frontend
        link(rel="stylesheet", href="../css/account-style.css")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap" rel="stylesheet")
    body
        section.login
            div.form-container
                h1.title My account
                form.form(action="")
                    div 
                        label.label(for="name") Name
                        input.input(type="text",id="name", placeholder="Perenganito" class="input-name")
                        label.label(for="email") email
                        input.input(type="text",id="email", placeholder="perenganito@sharlybip.com" class="input-email")  
                        label.label(for="password") Password
                        input.input(type="password",id="password", placeholder="*********" class="input-password")  
                    input.primary-button(type="submit", value="Create", class="login-button")
