doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Frontend
        link(rel="stylesheet", href="../css/inicio-style.css")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap" rel="stylesheet")
    body
        section.main-container 
            .cards-container 
                .product-card 
                    img(src="https://images.pexels.com/photos/6567079/pexels-photo-6567079.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="")
                    div.product-info
                        div 
                            p $120
                            p Bike 
                        figure 
                            img(src="../images/icons/bt_add_to_cart.svg" alt="")
                .product-card 
                    img(src="https://images.pexels.com/photos/6567079/pexels-photo-6567079.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="")
                    div.product-info
                        div 
                            p $120
                            p Bike 
                        figure 
                            img(src="../images/icons/bt_add_to_cart.svg" alt="")
                .product-card 
                    img(src="https://images.pexels.com/photos/6567079/pexels-photo-6567079.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="")
                    div.product-info
                        div 
                            p $120
                            p Bike 
                        figure 
                            img(src="../images/icons/bt_add_to_cart.svg" alt="")
                .product-card 
                    img(src="https://images.pexels.com/photos/6567079/pexels-photo-6567079.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="")
                    div.product-info
                        div 
                            p $120
                            p Bike 
                        figure 
                            img(src="../images/icons/bt_add_to_cart.svg" alt="")
                .product-card 
                    img(src="https://images.pexels.com/photos/6567079/pexels-photo-6567079.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="")
                    div.product-info
                        div 
                            p $120
                            p Bike 
                        figure 
                            img(src="../images/icons/bt_add_to_cart.svg" alt="")
                .product-card 
                    img(src="https://images.pexels.com/photos/6567079/pexels-photo-6567079.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="")
                    div.product-info
                        div 
                            p $120
                            p Bike 
                        figure 
                            img(src="../images/icons/bt_add_to_cart.svg" alt="")
                .product-card 
                    img(src="https://images.pexels.com/photos/6567079/pexels-photo-6567079.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="")
                    div.product-info
                        div 
                            p $120
                            p Bike 
                        figure 
                            img(src="../images/icons/bt_add_to_cart.svg" alt="")
                .product-card 
                    img(src="https://images.pexels.com/photos/6567079/pexels-photo-6567079.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="")
                    div.product-info
                        div 
                            p $120
                            p Bike 
                        figure 
                            img(src="../images/icons/bt_add_to_cart.svg" alt="")
                .product-card 
                    img(src="https://images.pexels.com/photos/6567079/pexels-photo-6567079.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="")
                    div.product-info
                        div 
                            p $120
                            p Bike 
                        figure 
                            img(src="../images/icons/bt_add_to_cart.svg" alt="")
                .product-card 
                    img(src="https://images.pexels.com/photos/6567079/pexels-photo-6567079.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="")
                    div.product-info
                        div 
                            p $120
                            p Bike 
                        figure 
                            img(src="../images/icons/bt_add_to_cart.svg" alt="")
                .product-card 
                    img(src="https://images.pexels.com/photos/6567079/pexels-photo-6567079.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="")
                    div.product-info
                        div 
                            p $120
                            p Bike 
                        figure 
                            img(src="../images/icons/bt_add_to_cart.svg" alt="")
                .product-card 
                    img(src="https://images.pexels.com/photos/6567079/pexels-photo-6567079.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="")
                    div.product-info
                        div 
                            p $120
                            p Bike 
                        figure 
                            img(src="../images/icons/bt_add_to_cart.svg" alt="")
                .product-card 
                    img(src="https://images.pexels.com/photos/6567079/pexels-photo-6567079.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="")
                    div.product-info
                        div 
                            p $120
                            p Bike 
                        figure 
                            img(src="../images/icons/bt_add_to_cart.svg" alt="")
                .product-card 
                    img(src="https://images.pexels.com/photos/6567079/pexels-photo-6567079.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="")
                    div.product-info
                        div 
                            p $120
                            p Bike 
                        figure 
                            img(src="../images/icons/bt_add_to_cart.svg" alt="")
                .product-card 
                    img(src="https://images.pexels.com/photos/6567079/pexels-photo-6567079.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="")
                    div.product-info
                        div 
                            p $120
                            p Bike 
                        figure 
                            img(src="../images/icons/bt_add_to_cart.svg" alt="")
                .product-card 
                    img(src="https://images.pexels.com/photos/6567079/pexels-photo-6567079.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="")
                    div.product-info
                        div 
                            p $120
                            p Bike 
                        figure 
                            img(src="../images/icons/bt_add_to_cart.svg" alt="")
                .product-card 
                    img(src="https://images.pexels.com/photos/6567079/pexels-photo-6567079.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="")
                    div.product-info
                        div 
                            p $120
                            p Bike 
                        figure 
                            img(src="../images/icons/bt_add_to_cart.svg" alt="")
                .product-card 
                    img(src="https://images.pexels.com/photos/6567079/pexels-photo-6567079.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="")
                    div.product-info
                        div 
                            p $120
                            p Bike 
                        figure 
                            img(src="../images/icons/bt_add_to_cart.svg" alt="")
                .product-card 
                    img(src="https://images.pexels.com/photos/6567079/pexels-photo-6567079.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="")
                    div.product-info
                        div 
                            p $120
                            p Bike 
                        figure 
                            img(src="../images/icons/bt_add_to_cart.svg" alt="")
                .product-card 
                    img(src="https://images.pexels.com/photos/6567079/pexels-photo-6567079.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="")
                    div.product-info
                        div 
                            p $120
                            p Bike 
                        figure 
                            img(src="../images/icons/bt_add_to_cart.svg" alt="")
                    