doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Frontend
        link(rel="stylesheet", href="../css/login-style.css")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap" rel="stylesheet")
    body
        section.login
            div.form-container
                img(src="../images/logos/logo_yard_sale.svg", alt="logo",class="logo")
                form.form(action="")
                    label.label(for="email") Email address
                    input.input(type="email",id="email", placeholder="fulanito123@sharlybip.com" class="input-email")
                    label.label(for="password") Password
                    input.input(type="password",id="password", placeholder="*********" class="input-password")  
                    input.primary-button(type="submit", value="Log in", class="login-button")
                    a(href="/") Forgot my password 
                button.secondary-button(class="signup-button") Sign up
