doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../css/product-detail-style.css")
        title Document
    body 
        aside.product-detail 
            .product-detail-close 
                img(src="../images/icons/icon_close.png", alt="close")
            img(src="https://images.pexels.com/photos/1787235/pexels-photo-1787235.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260", alt="camera")
            .product-info
                p $35,000
                p Camera
                p Objetivo35.0mm ƒ/1.4 ISO 500 Tamaño	6,98 MB Resolución	3177px x 4766px Cámara	Canon EOS M5 Software	Adobe Photoshop CC 2019 (Macintosh)
                button.primary-button(class="add-to-cart-button")
                    img(src="../images/icons/bt_add_to_cart.svg", alt="Add to cart")
                    span Add to cart