doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../css/shopping-cart-style.css")
        link(rel="stylesheet", href="../css/shopping-cart-style.css")
        title Document
    body 
        aside.product-detail-shop
            .title-container
                img(src="../images/icons/flechita.svg", alt="")
                p.title My order
            .my-order-content 
                .shopping-cart 
                    figure 
                        img(src="https://images.pexels.com/photos/4979788/pexels-photo-4979788.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500", alt="BMX Bike")
                    p Bike 
                    p $30.00
                    img(src="../images/icons/icon_close.png", alt="")
                .shopping-cart 
                    figure 
                        img(src="https://images.pexels.com/photos/4979788/pexels-photo-4979788.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500", alt="BMX Bike")
                    p Bike 
                    p $30.
                    img(src="../images/icons/icon_close.png", alt="")
                .shopping-cart 
                    figure 
                        img(src="https://images.pexels.com/photos/4979788/pexels-photo-4979788.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500", alt="BMX Bike")
                    p Bike 
                    p $30.00
                    img(src="../images/icons/icon_close.png", alt="")
                .order 
                    p 
                        span Total 
                    p $560.00
                button.primary-button Checkout 

                